* {
    font-family: 'sans-serif';
    color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/Cenariofundo.png.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    & #logo {
        width: 104px;
    }

    & h1{
        color: rgb(255, 255, 255);
    }
}

main{

    #eu{
        position: absolute;
        z-index: -1;
        top: 300px;
        right: 0;
        display: flex;
        margin: auto;
    }
}

.conteiner {
    margin: auto;
    margin-top: 50px;
    width: 586px;
    border: rgb(187, 187, 187) 0.5px solid;
    border-radius: 12px;
    background: #ffffff03;
    backdrop-filter: blur(3.0px);
    padding: 16px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;

        & .frame1 {
            display: flex;
            gap: 20px;

            & #text-area {
                width: 100%;
            }

            & .inputUser {
                display: flex;
                flex-direction: column;
                width: 50%;
                gap: 8px;

                & input,
                textarea {
                    padding: 11px 16px;
                    background: transparent;
                    color: #fff;
                    border: #cacaca 1px solid;
                    outline-color: rgb(183, 255, 255);
                }

                & textarea {
                    resize: none;
                }

                & input::placeholder,
                textarea::placeholder {
                    color: #fff;
                }
                
                & input:disabled, textarea:disabled{
                   opacity: 0.9;
                }
            }

        }

        & input[type = "button"]{
            background-color: rgb(0, 0, 0);
            padding: 11px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 269px;
            margin: auto;
            cursor: pointer;
            margin-top: 32px;
        }
    }
}